apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: o03tu7lww-nodejs
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: rhtap-quay-quay-rhtap-quay.apps.rosa.kx-78bd8f53b1.tz91.p3.openshiftapps.com/rhtap/rhtap-qe-nodejs:0fdae78f5e138cd152d5e29a5998296774b6ecf5@sha256:042145403ba280a32e7ae2364a8e6c1153645723de2dccd573316dadbf8cf145
          name: container-image
